/* Universal Selector */
* {
    color:grey;
}

/* Element Selector */
h1 {
    text-transform:uppercase;
    color:saddlebrown;
}

/*ID Selector */
#status {
    font-family:sans-serif;
}

img {
    height:400px;
}

p {
    font-family:sans-serif;
}

/*Class Selector */
.gray-box {
    background-color:whitesmoke;
    border-radius:1rem;
    padding:1rem;
    width:600px;
}

.subtitle {
    text-transform:uppercase;
    color:rgb(56, 34, 6);
    font-size:1.1rem;
    font-weight:bold;
}

.hm {
    color:darkgrey;
    font-size:0.8rem;
}

/* Group Selector */
h1, .subtitle {
    font-family:serif;
    color:rgb(56, 34, 6)
}

/* Pseudo Class Selectors */
a {
    text-decoration:none;
    color:rgb(163, 157, 111);
}
a:hover {
    text-decoration: underline;
    color:rgb(181, 133, 28);
}
.gray-box:hover {
    color:red;
}

/* Selecting Father Elements */
main {
    width:600px;
    margin:left;
}

