body {
    display:flex;
    flex-direction:column;
    align-items:center;
}

button {
    display:flex;
    background-color:whitesmoke;
    border:1px solid lightgrey;
    margin-bottom:3rem;
    height:100px;
    align-items:center;
}

button:hover {
    background-color:lightgrey;
}
