main {
    height:3000px;
}

.letter h2 {
    margin:0px;
    background-color:gray;
    padding-left:1rem;
    position:sticky;
    top:0px;
}

.letter p {
    padding-left:0.5rem;
}

.letter {
    border:2px solid whitesmoke;
    margin-bottom:1rem;
}
