body {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

button {
    height:30px;
    background-color:violet;
    border:2px solid purple;
}

button:hover {
    background-color:orchid;
}
